h1 Login
form(name="login", method="POST", action="login")
  table
    tr
      th username
      td
        input(name="username", type="text", size="30")
    tr
      th password
      td
        input(name="password", type="password", size="30")
    tr
      td
        input(type="submit", name="login")
